*{
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 800px;
    background-image: url("../assets/Desktop_Backgrounds_1920x1200_6 3.png");
    background-size: 100%;
}

.navigation {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    text-transform: uppercase;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
}

.navigation ul {
    display: flex;
    justify-content: center;
    margin-left: -60px;
}

.navigation ul li {
    margin-left: 30px;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.navigation a:hover{
 border-bottom: solid 2px white;
}

.header-text-left{
    color:white;
    margin-left: 25%;
    margin-right: 20%
}

.header-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 187px;
}

.header-info{
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.header-text{
    text-align: center;
    font-size: 24px;
    color: white;
}

.header-headline{
    text-align: center;
    font-size: 48px;
    width: 386px;
    color: white;
    margin-top: 13px;
    margin-bottom: 42px;
}

.info-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    text-align: center;
    max-width: 983px;
}

.info-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text {
    font-size: 16px;
    text-align: left;    
}

.info-headline {
    font-size: 48px;
    margin-top: 13px;
    margin-bottom: 30px;
}

.info-sub-headline {
    font-size: 24px;
    color: #666666;
    margin-bottom: 48px;
}

.info-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    justify-content: center;
}

.read-more-button {
    background-color: #39C2D7;
    width: 115px;
    height: 36px;
    font-size: 14px;
    border: none;
    border-radius: 18px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    justify-self: center;
}

.video-section{
    height: 666px;
    background-image: url("../assets/IMG_1334_72dpi_RGB_ 1.png");        background-size: 100%;
    margin-top: 98px;
    display: flex; 
    align-items: center;
    flex-direction: column;
    position: relative;
}
.video-section:before{
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.video-headline{
    text-align: center ;
    font-size: 48px;
    width: 386px;
    color: white;
    margin-top: 84px;
    margin-bottom: 42px;
    width: 480px;
    z-index: 2;
}

.video-button{
    background: #39C2D7;
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 100%;
    z-index: 2;
}

.video-text{
    font-size: 24px;
    width: 390px;
    color: white;
    margin-top: 80px;
    text-align: center;
    z-index: 2;
}

.Project-container{
    display: flex;
}

.footer {
    background-color: #464547;
    height: 170px;
    padding-left: 140px;
    padding-top: 19px;
}
    
.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 960px;
    margin: 0 auto;
    margin-top: 35px;
}
    
.footer-project {
    display: flex;
}
    
.footer-headline {
    width: 92px;
    height: 16px;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-left: 15px;
    font-weight: bold;
    color: white;
}
    
.footer-text, .footer-copyright {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    height: 22px;
    font-size: 16px;
}

.footer-email{
    margin-top: 15px;
}

.footer-link {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    height: 22px;
    font-size: 16px;
    transition: color 0.3s ease;
}
    
.footer-link:hover {
    color: white;
}

.footer-copyright{
    margin-top: 60px;
}